<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Create a new quiz</h1>
        <form action="/quizzes" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="name" class="form-label">Quiz Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Quiz Name" required>
            </div>
            <div class="mb-3">
                <label for="instructions" class="form-label">Instructions</label>
                <textarea class="form-control" id="instructions" name="instructions" rows="3" required></textarea>
            </div>
            <button class="btn btn-primary btn-large">Add questions</button>
        </form>
    </div>
</div>

