<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8">
        <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <h3 class="card-title">
                    <%= quiz.name %>
                </h3>
                <h6 class="card-text">Read Instructions carefully !!</h6>
                <p class="card-text">
                    <%= quiz.instructions %>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita mollitia magni, 
                    quae illum nemo aliquam voluptates dolorem nobis possimus eos natus blanditiis! Debitis 
                    exercitationem at nihil necessitatibus iusto nobis soluta?
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita mollitia magni,
                    quae illum nemo aliquam voluptates dolorem nobis possimus eos natus blanditiis! Debitis
                    exercitationem at nihil necessitatibus iusto nobis soluta?
                    <br>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    </ul>
                </p>
                <div class="text-center">
                    <a href="/quizzes/<%= quiz._id %>/questions " class="btn btn-primary">Attempt</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2"></div>
</div>